html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inconsolata";
    height: 100%;
}

a {
    text-decoration: none;
    color: #ff0f00;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}

.navbar {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: padding 0.3s ease;
    backdrop-filter: blur(5px);
}

@media (max-width: 800px) {
    .navbar {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .navbar {
        width: 100%;
    }
}

.navbar.scrolled {
    padding: 15px 0;
}

.navbar .container {
    max-width: 700px;
    margin: 0 auto;
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}

.alignable,
.pull-left,
.pull-right {
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.container {
    max-width: 700px;
    margin: auto;
}

.wrapper {
    min-height: 100%;
}

#ins-logo {
    margin: auto;
    display: block;
    max-height: 100px;
    text-align: center;
}

.about-content {
    display: inline-flex;
    position: relative;
    overflow: wrap;
}

.about-text {
    margin: 0;
    line-height: 1.6;
    text-wrap: auto;
}

@media (max-width: 800px) {
    .container {
        max-width: 600px;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }

    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .navbar {
        text-align: center;
        padding: 20px 0px 0px 0px;
    }

    /* .wrapper {
        margin-top: calc(heightof(navbar));
    } */

    #author-name {
        width: 100%;
        float: none;
    }

    #navlist {
        padding: 10px 0 10px 0;
        margin: 0;
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }

    #navlist li.alignable,
    #navlist li.pull-left,
    #navlist li.pull-right {
        display: inline-block;
    }

    #navlist li.pull-left {
        float: none;
    }

    #navlist li.nav-list {
        margin: 0;
    }
}

.content a:hover {
    text-decoration: underline;
}

.content ol {
    counter-reset: list;
}

.content ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content ul > li {
    margin: 5px 0 5px 0;
}

.content ul {
    padding: 0 20px 0 20px;
}

.content ol {
    padding: 0 30px 0 30px;
}

.content ol > li:before {
    content: "[" counter(list, decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -30px;
}

.content blockquote {
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic;
}

.content .profile-picture {
    height: 120px;
    width: 120px;

    position: relative;
    float: right;
    border-radius: 50%;
}

p .content .profile-picture {
    padding: 0;
    margin: 0;
}

@media (max-width: 480px) {
    .content .profile-picture img {
        margin-top: -5px;
    }
}

.content img {
    text-align: center;
    width: 100%;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}

table tr {
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
}

table tr th {
    font-weight: bold;
    border: none;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: none;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
    margin: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin: 0;
}
